html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

/* Navigation bar */
#navBar {
  display: flex;
  background-color: #fbeec163;
  position: fixed;
  padding: 10px;
  width: 100%;
  align-items: center;
}
.navBarLogo {
  flex: 1;
  font-size: 40px;
  font-weight: 600;
}

#navBar div {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.selected {
  font-weight: bold;
  border-bottom: 3px solid black;
}

/* Banner */

.banner {
  min-height: 450px;
  background-color: #fbeec1;
  padding: 120px 80px 40px 80px;
}

.mainHeading {
  font-size: 40px;
  font-weight: 500;
  color: rgb(87, 71, 71);
}

.mainContent {
  max-width: 600px;
  padding-bottom: 22px;
}

.hand {
  display: inline-block;
  animation: wiggle 0.4s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(7deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

button {
  margin: 5px;
  height: 48px;
  width: 171px;
  padding: 5px 5px;
  font-weight: 700;
  color: #659dbd;
  border: 2px solid #659dbd;
  text-transform: uppercase;
  outline: 0;
  background: none;
  cursor: pointer;
  border-radius: 4px;
}

.squareButton {
  width: 48px;
}

.button-group {
  display: flex;
  align-items: center;
}

#hackerrank-svg {
  width: 34px;
  height: 34px;
  padding-left: 3px;
}

/* Sections */

.Sections {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Sen", sans-serif;
}
.section-heading {
  font-family: "sen";
  font-size: 35px;
}
/* Skills Section */

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  font-family: "Raleway", sans-serif;
  justify-content: space-evenly;
  max-width: 900px;
  margin: auto;
}

.skillsContent {
  font-family: "Sen", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 600px;
  margin: auto;
}

.progress {
  background-color: grey;
  width: 300px;
  height: 6px;
  border-radius: 3px;
}
.progressBar {
  width: 75%;
  background-color: gold;
  height: 6px;
  border-radius: 3px;
}

.progressbar-title {
  width: 300px;
  text-align: left;
}

.react {
  width: 70%;
}
.Java {
  width: 50%;
}
.htmlbar {
  width: 75%;
}
.javascriptbar {
  width: 75%;
}

.dsa {
  width: 50%;
}
.mysql {
  width: 20%;
}

.firebase {
  width: 50%;
}

.php {
  width: 10%;
}
/* Live Activity Section */

.LiveActivityFlex {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  max-width: 600px;
  margin: auto;
  justify-content: space-evenly;
}

.miniActivity {
  width: 200px;
  border-top: 4px solid rgb(209, 59, 59);
  border-radius: 8px;
  padding: 10px;
  padding-bottom: 25px;
  font-family: "Raleway";
  color: rgb(0, 0, 0, 0.705);
  box-shadow: 2px 1px 6px 2px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 2px 1px 6px 2px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 2px 1px 6px 2px rgba(0, 0, 0, 0.26);
}

.stats {
  color: black;
  font-size: 24px;
  font-weight: bold;
}

/* Projects Section */
.projectFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  text-align: left;
}

.project {
  width: 400px;
  margin: 20px;
}
.projectImage {
  width: 100%;
  border-radius: 10px;
  padding-bottom: 10px;
}
.projectText {
  text-align: justify;
  display: inline-block;
  font-family: "Baloo Chettan 2", cursive;
  color: rgb(82, 82, 82);
  font-size: 14px;
}

.projectInfo {
  display: flex;
  align-items: centre;
}

.projectTitle {
  flex: 1;
  font-weight: bold;
}
.date {
  font-family: "Baloo Chettan 2", cursive;
  color: rgb(82, 82, 82);
  font-size: 12px;
}
.stack {
  background-color: antiquewhite;
}

.teckStack {
  display: flex;
}
.stack {
  padding: 3px;
  min-width: 90px;
  margin: 5px;
  border-radius: 20px;
  text-align: center;
  font-family: "Baloo Chettan 2", cursive;
  color: rgb(82, 82, 82);
  font-size: 12px;
}
/* Footer Section */
.footer {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px 0px 30px 0px;
  color: rgb(73, 70, 70);
  font-family: "Baloo Chettan 2", cursive;
  font-weight: 600;
}
.candle {
  font-size: 40px;
}

/* Responsive */

@media screen and (max-width: 768px) {
  #navBar {
    display: flex;
    background-color: #fbeec163;
    position: fixed;
    padding: 10px;
    width: 100%;
    align-items: center;
    font-size: 10px;
  }
  .navBarLogo {
    flex: 1;
    font-size: 20px;
    font-weight: 600;
  }
  #navBar div {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .banner {
    min-height: 450px;
    background-color: #fbeec1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }
  .mainHeading {
    text-align: center;
    font-size: 25px;
  }
  .mainContent {
    padding-top: 22px 0px 22px 0px;
    max-width: 350px;
    font-size: 15px;
    text-align: center;
  }
  .section-heading {
    font-family: "sen";
    font-size: 25px;
    font-weight: 500;
  }
  .skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 900px;
    margin: auto;
  }

  .skillsContent {
    font-family: "Raleway", sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 600px;
    margin: auto;
  }
  .progressbar-title {
    width: 300px;
    font-family: "Baloo Chettan 2", cursive;
  }
  .footer {
    display: flex;
    flex-direction: column;
    font-family: "Baloo Chettan 2", cursive;
    font-weight: 600;
  }
  .candle {
    font-size: 25px;
  }
}
